# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Spotify Data
data/raw/
data/processed/

# Generated Outputs
outputs/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/